

@model IEnumerable<Product>

<div class="row pb-3">
    @foreach (var product in Model)
    {
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card card-block h-100 border-0 p-3 shadow border-top border-5 rounded">
                <img src="@product.Imageurl" class="card-img-top rounded" alt="Product Image">
                <div class="card-body pb-0">
                    <div class="text-center">
                        <p class="card-title h6 text-dark opacity-75 text-uppercase">@product.Title</p>
                        <p class="card-title text-warning">by <b>@product.Author</b></p>
                    </div>
                    <div class="text-center">
                        <p class="text-dark opacity-75 mb-0">
                            MRP: ₹<span class="text-decoration-line-through">@product.ListPrice.ToString()</span>
                        </p>
                        <p class="text-dark opacity-75">
                            As low as: ₹<span>@product.Price100.ToString()</span>
                        </p>
                    </div>
                </div>
                <div class="card-footer bg-white border-0">
                    <a asp-action="Details" asp-route-prodId="@product.Id" class="btn btn-outline-primary">
                        Details
                    </a>
                </div>
            </div>
        </div>
    }
</div>
